[submodule "charts/dynamodb"]
	path = charts/dynamodb
	url = https://github.com/keyporttech/helm-dynamodb.git
[submodule "charts/statsd"]
	path = charts/statsd
	url = git@github.com:keyporttech/helm-statsd.git
[submodule "charts/gitea"]
	path = charts/gitea
	url = git@github.com:jfelten/gitea-helm-chart.git
[submodule "charts/k8sci"]
	path = charts/k8sci
	url = git@github.com:keyporttech/k8sci.git
	branch = master
[submodule "charts/xwiki"]
	path = charts/xwiki
	url = https://github.com/keyporttech/helm-xwiki.git
[submodule "charts/gogs"]
	path = charts/gogs
	url = git@github.com:keyporttech/gogs-helm-chart.git
